
<!DOCTYPE html>
<html>
<head>
    <title>Mental Health AI</title>
    <link rel="stylesheet" href="/static/css/llama3/respond.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Mental Health Ai</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="text">Enter your thoughts:</label><br>
        <textarea id="text" name="text" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Analyze">
    </form>
</body>
</html>
